* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.navbar__brand {
    width: 100px;
}

.navbar__logo {
    width: 100%;
}

.button__primary {
    margin: 10px;
    background-image: linear-gradient(to right,
            #ff512f 0%,
            #dd2476 51%,
            #ff512f 100%);
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: 600;
}

.button__primary :hover {
    border: 2px solid #FF6767;
    cursor: pointer;
}

.container {
    max-width: 100%;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
}

.hero__image__container {
    position: relative;
    width: 100%;
}

.hero__image__shape {
    position: absolute;
    top: -10%;
    z-index: -2;
}

.hero__image {

    width: 100%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.hero__description {
    margin-top: 20%;
}

.hero__text {
    font-weight: 800;
    font-size: 30px;
    margin: 20px 0;
    color: #1d3557;
}


.explore__menu__container {
    margin-top: 20%;
}


.explore__menu__text {
    text-align: center;
    color: #1d3557;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 20px;
}

.food__card {
    background-color: #f9f9f9;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 6px;


}

.food__card__image__container {
    width: 100%;

    gap: 5px;
}

.food__image {
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.food__card__description {
    padding: 16px;
    color: #1d3557;
    text-align: left;


}

.email__subcribe__container {
    width: 100%;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.email__text {
    font-size: 24px;
    line-height: 32px;
    font-weight: 900;

    color: #1d3557;




}


.email__stay__update__input__field {
    display: flex;

    align-items: center;
}

.email__input {
    border: 1px solid #ee89a0;
    ;
    background-color: #fcedf0;
    color: #1d3557;
    font-weight: 700;
    border-radius: 4px;
    padding: 8px;

}

.restaurant__list__container {
    margin-top: 20%;
}

.restaurant__list__text {
    margin-left: 10px;
    color: #1d3557;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
}

.restaurant__list__row1 {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

.restaurant__list__row2 {
    display: flex;
    align-items: flex-start;

}

.restaurant1 {
    width: 150px;
    height: 80px;
    border-radius: 6px;
    margin-right: 10px;


}

.restaurant2 {
    width: 200px;
    height: 100px;
    border-radius: 6px;


}

.restaurant3 {

    width: 200px;
    height: 100px;
    border-radius: 6px;
}

.restaurant4 {
    width: 150px;
    height: 80px;
    border-radius: 6px;
    margin-left: 10px;

}




.quote__container {
    position: relative;
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    border-radius: 16px;
    color: #fff;

    background: url(https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80) center center / cover no-repeat;



}

.quote__container__bg__image {
    position: absolute;

    height: 200px;
    width: 100%;
    border-radius: 13px;
    background-color: #0a4065;
    opacity: 49%;
}



.quote__text {
    text-align: center;
    margin: 0 8px;
    z-index: 3;
}

footer {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px 16px 0 0;
    background-image: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    color: #fff;



}

.footer__logo {
    width: 300px;
    filter: brightness(0) invert(1);
}

.footer__list {
    list-style: none;
    line-height: 24px;
    margin: 0;
    padding: 0;


    color: #fff;
    font-size: 16px;

}









@media (min-width: 768px) {



    .explore__menu__lists {
        margin: 0px 10%;
        display: flex;
        padding: 20px;

        gap: 20px;
    }

    .explore__menu__container {
        position: relative;
    }

    .explore__menu__text {
        text-align: center;
        color: #1d3557;
        font-size: 30px;
        font-weight: 900;
        margin-bottom: 20px;
    }

    .explore__menu__gradient__bg {
        position: absolute;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right,
                #ff512f 0%,
                #dd2476 51%,
                #ff512f 100%);
        z-index: -3;
        transform: skewY(-5deg);

    }

    #pizza__card {
        margin-top: -20px;
        margin-bottom: 20px;
    }

    .navbar {
        justify-content: space-between;
        padding: 10px 30px;

    }

    .hero__container {

        display: flex;
        flex-direction: row-reverse;
        align-items: center;

    }

    .hero__text {
        font-size: 50px;
        line-height: 50px;
        font-weight: 900;
        margin-top: -20%;
    }

    .food__card__description {
        padding: 8px;
        color: #1d3557;
        text-align: left;



    }

    .restaurant__list__container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20%;

    }

    .restaurant__list__text {
        font-size: 36px;
        line-height: 36px;
    }


    .email__subcribe__container {
        display: flex;
        justify-content: center;
    }

    .email__text {
        font-size: 30px;
        line-height: 32px;
        font-weight: 900;

        color: #1d3557;
    }

    .email__input {
        border: 1px solid #ee89a0;
        ;
        background-color: #fcedf0;
        color: #1d3557;
        font-weight: 700;
        border-radius: 4px;
        padding: 8px;
        width: 320px;

    }

    .quote__container {
        position: relative;
        margin-top: 4rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
        border-radius: 16px;
        color: #fff;

        background: url(https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80) center center / cover no-repeat;

    }

    .quote__container__bg__image {
        position: absolute;

        height: 300px;
        width: 100%;
        border-radius: 13px;
        background-color: #0a4065;
        opacity: 49%;
    }

    .quote__text {
        text-align: center;
        margin: 0 8px;
        z-index: 3;
        font-size: 32px;
        font-weight: 400;
    }


    footer {

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        border-radius: 32px 32px 0 0;
        background-image: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
        color: #fff;



    }

    .footer__logo {

        width: 300px;
        filter: brightness(0) invert(1);
    }



}












@media (min-width: 1024px) {
    .container {
        max-width: 70%;
        padding: 20px;
        margin-right: auto;
        margin-left: auto;
    }

    .explore__menu__text {
        text-align: center;
        color: #1d3557;
        font-size: 50px;
        font-weight: 900;
        margin-bottom: 20px;
    }


    .explore__menu__lists {
        display: flex;

        justify-content: space-evenly;

    }

    .container {
        max-width: 70%;
    }

    .navbar__brand {
        width: 150px;

    }

    .button__primary {
        padding: 20px;
        font-size: 20px;
        font-weight: 600;
    }

    .hero__description {
        width: 100%;
        margin-top: 0%;
    }

    .hero__text {
        font-size: 45px;
        line-height: 50px;
        font-weight: 800;
        margin-top: 40%;
    }

    .explore__menu__container {
        position: relative;
    }

    .food__card {

        background-color: #f9f9f9;
        border-radius: 6px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: 6px;


    }

    .food__card__description {
        padding: 8px;
        color: #1d3557;
        text-align: left;
    }


    .explore__menu__gradient__bg {
        position: absolute;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right,
                #ff512f 0%,
                #dd2476 51%,
                #ff512f 100%);
        z-index: -3;
        transform: skewY(-5deg);


    }

    .restaurant__list__text {
        font-size: 64px;
        line-height: 1;
    }

    .restaurant1,
    .restaurant3 {
        width: 250px;
        height: 180px;
    }

    .restaurant2,
    .restaurant4 {
        width: 300px;
        height: 260px;
    }

    .email__text {
        font-size: 42px;
    }

}